.avatar {
    width: 70px;
	height: 70px;
	border-radius: 50%;
}

.avatar-large {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.avatar-bordered {
    width: 70px;
    height: 70px;
    border: solid 2px rgb(255,255,255);
    border-radius: 50%;
    box-shadow: 3px 3px 3px rgb(224,224,224)
}

.avatar-square {
    width: 70px;
    height: 70px;
    border: solid 2px rgb(255,255,255);
    box-shadow: 3px 3px 3px rgb(224,224,224)
}